# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# VS Code
.vscode/

# Mac
.DS_Store

# Logs
*.log

# Database
*.db
*.sqlite3

# Pytest
.pytest_cache/

# Build
dist/
build/
*.egg-info/
